/* 

    Padrao: #6B0200;

 */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

body, p{ font-family: 'Hind Madurai'}

/* Logo */
.logo { margin-top: 30px; margin-bottom: 30px; }

/* Topo */
.topo { background-color: #6B0200;}
.dados-topo { margin-top: 30px;}

/* Topo página */

/* Páginas */
section.pagina { background-image: url('../img/fundo-pagina.png'); background-repeat: no-repeat; background-position: center top; padding-bottom: 300px;}

/* Orçamento */
.direita { text-align: right;}
.orcamento { text-transform: uppercase; font-family: 'Hind Madurai'; padding-top: 15px; padding-bottom: 15px; font-weight: bold; font-size: 16px;}
.orcamento a {color: #FFF}

/* Telefone */
.box_telefone { text-align: right; margin-top: 30px;}
.t-telefone { font-family: 'Roboto Condensed'; text-transform: uppercase; font-size: 18px; color: #6B0200;}
.n-telefone { font-family: 'Francois One'; text-transform: uppercase; font-size: 28px; font-weight: bold; color: #666;}


/* Whatsapp */
.box_whatsapp { text-align: right; margin-top: 30px;}
.t-whatsapp { font-family: 'Roboto Condensed'; text-transform: uppercase; font-size: 18px; color: #6B0200;}
.n-whatsapp { font-family: 'Francois One'; text-transform: uppercase; font-size: 28px; font-weight: bold; color: #666;}


/* Email */
.box_email { text-align: right; margin-top: 30px; margin-bottom: 20px;}
.t-email { font-family: 'Roboto Condensed'; text-transform: uppercase; font-size: 18px; color: #6B0200;}
.n-email { font-family: 'roboto'; text-transform: uppercase; font-size: 20px; font-weight: bold;}


/* Infos Roda pé */
section.infos {background-color: #6B0200}
.caixa_infos { margin-top: 30px; margin-bottom: 30px;}
.t-facebook { font-weight: bold; text-transform: uppercase; font-family: 'Francois One'; font-size: 30px; margin-bottom: 10px; color: #FFF;}

/* Slide */
.slides { padding-top: 30px;}

/* Elementos */
.linha {background-color: #6B0200; width: 100%; height: 4px;}
.centro { text-align: center;}
h1.titulo { font-weight: bold; text-transform: uppercase; font-family: 'Roboto Condensed'; color: #6B0200; font-size: 24px; border-bottom-style: solid; margin-top: 40px;}
h1.titulo2 { font-weight: bold; text-transform: uppercase; font-family: 'Roboto Condensed'; color: #6B0200; font-size: 24px; border-bottom-style: solid; }
h1.titulo3 { font-weight: bold; text-transform: uppercase; font-family: 'Roboto Condensed'; color: #6B0200; font-size: 24px; }
.botao { color: #FFF !important; border: none; background-color: #6B0200; text-transform: uppercase; font-family: 'montserrat'}
.botao:hover { background-color: #666 !important; color: #FFF !important;}
.botao-apagar { color: #FFF !important; border: none; background-color: #FF0000; text-transform: uppercase; font-family: 'montserrat'}
.botao-apagar:hover { background-color: #666 !important; color: #FFF !important;}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.bot20 { margin-bottom: 20px;}
.top20 { margin-top: 20px;}
small { text-transform: uppercase; font-weight: bold; font-size: 10px !important;}
.ptop {padding-top: 20px;}

/* Roda pé */ 
footer.rodape { background-color: #6B0200; width: 100%; height: auto; }
.copy {text-transform: uppercase; font-weight: bold; font-family: 'hind Madurai'; margin-top: 30px; color: #FFF; margin-bottom: 10px;}
.contato-footer { text-align: center; margin-top: 40px; margin-bottom: 30px;}
.t-footer { color: #FFF; text-transform: uppercase; font-weight: bold; font-size: 15px;}
.c-footer { color: #FFF; text-transform: uppercase; font-weight: bold; font-size: 22px; font-family: 'Francois One'}
.copy-footer { margin-bottom: 30px; }
.telefone-footer { margin-bottom: 25px;}
.i-footer { color: #fff; font-size: 50px; }

/* Produtos */
.info_produto { text-align: center; margin-top: 20px; margin-bottom: 20px;}
.nome_produto { text-transform: uppercase; font-family: 'montserrat';  font-weight: bold; color: #6B0200; font-size: 18px; margin-bottom: 10px;}
.produto { margin-top: 20px;}
.categoria_menu { text-transform: uppercase; font-weight: bold; font-family: 'Hind Madurai'; font-size: 14px; color: #6B0200}
.categoria_menu:hover { color: #666; text-decoration: none;}
.categoria_menu:before {content: "\f105"; font-family: FontAwesome; padding-right: 6px;}

/* Galeria */
.info_galeria { text-align: center; margin-top: 20px; margin-bottom: 20px;}
.nome_galeria { text-transform: uppercase; font-family: 'montserrat';  font-weight: bold; color: #6B0200; font-size: 18px; margin-bottom: 10px;}

/* Serviços */
.info_servico { text-align: center; margin-top: 20px; margin-bottom: 20px;}
.nome_servico { text-transform: uppercase; font-family: 'montserrat';  font-weight: bold; color: #6B0200; font-size: 18px; margin-bottom: 10px;}
.breve_descricao { font-family: 'montserrat'; margin-bottom: 15px;}
.descricao_servico { margin-top: 10px;}

/* Formulário */
.form-control2 {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 2px solid #dfe2e5;
    background-image: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    margin-bottom: 10px;
}

.formulario {
    width: 100%;
    height: 54px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 2px solid #dfe2e5;
    background-image: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    margin-bottom: 10px;
}

.t-form { text-transform: uppercase; font-weight: bold; margin-bottom: 10px;}

/* Localização */
.img-localizacao {width: 291px; height: 228px;}
.info_localizacao li {list-style-type:none;}
.info_localizacao li:before {content: "\f0da"; font-family: FontAwesome; padding-right: 6px; }


/* Lista */
.produto-lista { 
margin-bottom: 20px;
border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
border-bottom: 1px solid #eee;}


/* Depoimentos */
.dados-cliente { text-align: right;}
.dep-cliente {text-transform: uppercase; font-weight: bold; font-size: 25px; margin-bottom: 20px; font-family: 'Hind Madurai'}
.dep-empresa { text-transform: uppercase; font-weight: bold; margin-top: 10px;}
.estrelas {
    background-image: url('../img/estrelas.png');
    width: 152px;
    height: 36px;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 20px;
}

.depoimento { text-align: center; margin-top: 50px;}

.canto {
   background: url('../img/canto.png') no-repeat scroll right top;
   position: fixed;
   top: 248px;
   height: 281px;
   width: 51px;
   z-index: 100;
   right: 0pt;
}

