/* Busca */
section.busca {padding-bottom: 30px; }
.form-busca { margin-top: 20px;}
section.destaque {margin-top: 30px; margin-bottom: 30px;background-color: #6B0200}

.fonte { font-family: 'Roboto Condensed'}

.branco { color: #FFF !important; }
/* Imóvel Exibição */
.imovel-exibicao { text-align: center; }
.titulo-imovel-ex { font-family: 'Roboto Condensed'; margin-top: 14px; text-transform: uppercase; color: #6B0200; font-weight: bold; font-size: 25px; }
.titulo-imovel-ex a{ font-family: 'Roboto Condensed'; margin-top: 14px; text-transform: uppercase; color: #6B0200; font-weight: bold;}
.info-imovel-ex { background-color: #6B0200; color: #FFF; height: 40px; }
.localizacao-imovel-ex { text-transform: uppercase; font-size: 16px; font-family: 'Roboto Condensed'; margin-bottom: 20px;}
.localizacao-imovel-ex:before {content: "\f041"; font-family: FontAwesome; padding-right: 6px; }
.i-metros:before {content: "\f0b2"; font-family: FontAwesome; padding-right: 5px; }
.i-quartos:before {content: "\f236"; font-family: FontAwesome; padding-right: 6px; }
.i-banheiros:before {content: "\f2cd"; font-family: FontAwesome; padding-right: 6px; }
.i-garagens:before {content: "\f1b9"; font-family: FontAwesome; padding-right: 6px; }
.icones-info { padding-left: 5px; padding-right: 10px; margin-top: 10px; }
.preco-imovel-ex { text-transform: uppercase; font-size: 28px; font-size: 'Roboto Condensed'; font-weight: bold; }
.desc-imovel-ex { margin-top: 10px; margin-bottom: 10px;}
.mais-info { margin-bottom: 20px;}
.imovel-vendido { text-transform: uppercase; font-size: 28px; font-size: 'Roboto Condensed'; font-weight: bold; color: #FFBF00}

.caracteristicas-icones li.metros {list-style-type:none; text-transform: uppercase; margin-bottom: 10px;}
.caracteristicas-icones li.metros:before {content: "\f0b2"; font-family: FontAwesome; padding-right: 6px; }

.caracteristicas-icones li.quartos {list-style-type:none; text-transform: uppercase; margin-bottom: 10px;}
.caracteristicas-icones li.quartos:before {content: "\f236"; font-family: FontAwesome; padding-right: 6px; }

.caracteristicas-icones li.banheiros {list-style-type:none; text-transform: uppercase; margin-bottom: 10px;}
.caracteristicas-icones li.banheiros:before {content: "\f2cd"; font-family: FontAwesome; padding-right: 6px; }

.caracteristicas-icones li.garagens {list-style-type:none; text-transform: uppercase; margin-bottom: 10px;}
.caracteristicas-icones li.garagens:before {content: "\f1b9"; font-family: FontAwesome; padding-right: 6px; }

.adicionais li {list-style-type:none;}
.adicionais li:before {content: "\f14a"; font-family: FontAwesome; padding-right: 6px; color: #2DB200;}

.faixa{
  position:relative;
  overflow:hidden;
}
.faixa img{
  width: 100%;
}

.faixa-padrao {
    top: 2em;
    left: -4em;
    color: #fff;
    display: block;
    position:absolute;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #6B0200;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index:10;
}
.faixa-padrao:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}


.vendida {
    top: 2em;
    left: -4em;
    color: #fff;
    display: block;
    position:absolute;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #FFBF00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(-45deg) scale(0.75,1);
    z-index:10;
}
.vendida:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}


.info-icones li {list-style-type:none;}
.info-icones li:before {content: "\f0da"; font-family: FontAwesome; padding-right: 6px; }

.box {
    display: inline;
    padding: .1em .1em .1em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

section.listas { margin-bottom: 30px;}
.listas li {list-style-type:none;}
.listas a { text-transform: uppercase; color: #6B0200; font-weight: bold; font-family: 'Roboto Condensed'}
.listas li:before {content: "\f0da"; font-family: FontAwesome; padding-right: 6px; }