#menu-principal{
		background:#6B0200;
	}
	#menu-principal.navbar{
		margin:0;
		padding:0;
		border:none;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
	}
		#menu-principal .navbar-nav > li{
		}
		#menu-principal .navbar-nav > li + li{
		}
		#menu-principal .navbar-nav > li a{
			color:#fff;
			text-transform:uppercase;
			font-family: 'Montserrat'
		}
		#menu-principal .navbar-nav > li > a:hover, 
		#menu-principal .navbar-nav > li > a:focus, 
		#menu-principal .navbar-nav > li.open a{
			background:#252a2f;
			color:#fff;
		}		
			#menu-principal .dropdown-menu{
				background:#252a2f;
				border:none;
				padding:0;
				-webkit-border-radius:0;
				   -moz-border-radius:0;
				        border-radius:0;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				     box-shadow:none;
			}
				#menu-principal .dropdown-menu li a{
					color:#fff;
					font-size:15px;
					padding-top:6px;
					padding-bottom:6px;
					font-weight:normal;
				}
				#menu-principal .dropdown-menu li:hover a{
					background:#42484f;
					text-decoration:none;
				}
					#menu-principal .dropdown-inner {
						display:table;
						padding-bottom:10px;
					}
						#menu-principal .dropdown-inner ul {
							display:table-cell;
						}
						#menu-principal .dropdown-inner .dropdown-header{
							font-size:15px;
							text-transform:uppercase;
							color:#fff;
							padding:15px 0 10px 15px;
						}
						#menu-principal .dropdown-inner li a {
							min-width:160px;
							display:block;
							padding:3px 20px;
							clear:both;
						}	
						